Je crois que la culture d'une entreprise se construit d'abord par l'harmonisation des gens qui la personnifient, une vision claire et communiquée, la participation et la contribution de tous à une mission commune, le développement personnel des forces, un leader positif et proactif, ainsi qu’une structure saine permettant de combiner les talents de chacun au service du client.

<hr />

<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-1/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion des ressources humaines</span>
<strong>MOBILISATION</strong></a>


<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-2/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion du Patient</span>
<strong>RELATION</strong></a>

<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-3/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion du plan de traitement</span>
<strong>CONSIDÉRATION</strong></a>

<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-4/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion de l'horaire</span>
<strong>COHÉSION</strong></a>

<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-5/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion de l'Organisation</span>
<strong>FONDATION</strong></a>

<a style="font-family:Overlock;color:#333;" href="http://harmonisactions.ca/transformation-organisationnelle-alignement-strategique-6/"><img src="/wp-content/themes/arnold/img/next.png" style="float:left;margin-right: 15px;margin-top: 2px;" /><span>Gestion de la Direction</span>
<strong>ASPIRATION & INSPIRATION</strong></a>
