.ux-theme-box .close:hover, .ux-theme-box .close:focus { outline: :none;}
.ux-theme-meta-box{margin-bottom:25px;}
.ux-theme-meta-box .inside{padding:15px 25px 15px 15px;}

.ux-theme-tabs{border-top:1px solid #eee;margin-top:15px;position:relative;}
.ux-theme-tabs .nav-tabs{border-bottom:none;margin:0px;width:200px;position:absolute;top:0px;}
.ux-theme-tabs .nav-tabs > li{margin-bottom:0px;font-size:14px;float:none;border:1px solid #eee;border-top:none;margin-right:-1px;}
.ux-theme-tabs .nav-tabs > li.active{border-right:1px solid #fff;}
.ux-theme-tabs .nav-tabs > li > a{color:#999;background-color:#f6f6f6;text-decoration:none;padding:12px 20px;}
.ux-theme-tabs .nav-tabs > li > a:hover{background-color:#f0f0f0;}
.ux-theme-tabs .nav-tabs > li.active > a{color:#555;background-color:#fff;}
.ux-theme-tabs .nav-tabs > li.active > a:hover{background-color:#fff;}
.ux-theme-tabs .nav-tabs > li > a,
.ux-theme-tabs .nav-tabs > li > a:hover,
.ux-theme-tabs .nav-tabs > li > a:focus,
.ux-theme-tabs .nav-tabs > li.active > a,
.ux-theme-tabs .nav-tabs > li.active > a:hover,
.ux-theme-tabs .nav-tabs > li.active > a:focus{border:none;margin:0;border-radius:0;}
.ux-theme-tabs .tab-content{border:1px solid #eee;border-top:none;margin-left:200px;padding:0 20px;min-height:350px;}
body.rtl .ux-theme-tabs .tab-content{margin-left:0; margin-right: 200px;}
.ux-theme-option-submit{border:1px solid #eee;border-top:none;margin-left:200px;padding:10px 20px;}

.ux-theme-switch-color{position:relative;}
.ux-theme-remove-color{display:block;position:absolute;right:15px;top:0px;width:34px;height:34px;background:url(../images/icon/remove.png) no-repeat center center;cursor:pointer;}
.ux-theme-no-col.col-sm-2,
.ux-theme-no-col.col-sm-3,
.ux-theme-no-col.col-sm-4,
.ux-theme-no-col.col-sm-5,
.ux-theme-no-col.col-sm-6,
.ux-theme-no-col.col-sm-12{padding-left:0;}

.ux-theme-divider{height:1px;line-height:1px;background:#999;border-bottom:1px solid #ddd;margin-bottom:25px;}

.ux-theme-social-medias{margin-bottom:5px;}

.ux-theme-new-social-medias{}
.ux-theme-new-social-medias .new-media-col-button{float:left;}
.ux-theme-new-social-medias .new-media-col-input{float:left;}
.ux-theme-new-social-medias .ux-theme-social-medias{position:relative;}
.ux-theme-new-social-medias .new-media-col-select-icon,
.ux-theme-new-social-medias .new-media-col-icon,
.ux-theme-new-social-medias .new-media-col-add,
.ux-theme-new-social-medias .new-media-col-remove{width:30px;}
.ux-theme-new-social-medias .new-media-col-url{margin:0 80px;}
.ux-theme-new-social-medias .new-media-col-url input{width:48%;font-size:10px;}
.ux-theme-new-social-medias .new-media-col-select-icon,
.ux-theme-new-social-medias .new-media-col-icon{margin-right:10px;position:relative;}
.ux-theme-new-social-medias .new-media-col-icon{height:30px;border:1px dotted #ccc;}
.ux-theme-new-social-medias .new-media-col-icon .icon-content{position:absolute;height:100%;width:100%;text-align:center;}
.ux-theme-new-social-medias .new-media-col-icon .icon-content img{max-width:100%;padding:3px;}
.ux-theme-new-social-medias .new-media-col-icon .icon-content .fa{font-size:18px;padding:5px;}
.ux-theme-new-social-medias .new-media-col-add,
.ux-theme-new-social-medias .new-media-col-remove{margin-left:10px;position:absolute;top:0px;}
.ux-theme-new-social-medias .new-media-col-add{right:40px;}
.ux-theme-new-social-medias .new-media-col-remove{right:0px;}

.ux-widget-social-network-icons{margin:15px 0;}
.ux-widget-social-network-icons .ux-theme-social-medias{margin-bottom:15px;}
.ux-widget-social-network-icons .new-media-col-url{margin:0;margin-top:10px;}
.ux-widget-social-network-icons .new-media-col-url input{width:100%;margin-bottom:10px;}
.ux-widget-social-network-icons .new-media-col-add,
.ux-widget-social-network-icons .new-media-col-remove{right:0px;}

.ux-theme-option-select-icons{padding:20px;}
.ux-theme-option-icons{margin-top:15px;}
.ux-theme-option-icons i{cursor:pointer;font-size:16px;width:20px;line-height:20px;height:20px;background-image:none;text-decoration:none;}
.ux-theme-option-icons a{text-align:center;border:1px dashed #ccc;padding:3px;color:#333;margin-bottom:0.2em;display:inline-block;text-decoration:none;}
.ux-theme-option-icons a:hover,
.ux-theme-option-icons a:focus,
.ux-theme-option-icons a:active{border:1px dashed #333;color:#fff;background:#333;text-decoration:none;}
.ux-theme-option-icons a.current{background:#F60;color:#fff;}
.ux-theme-option-icons a.user-uploaded-icons img{width:48px;height:48px;}
.ux-theme-option-icons a.user-uploaded-icons{display:none;float:left;margin:0 15px 15px 0;}

.theme-option-item{}
.theme-option-item h3,
.theme-option-item h4{font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;margin-bottom:15px;}
.theme-option-item .row{margin-bottom:25px;}
.theme-option-item .make-switch{margin-bottom:10px;}
.theme-option-item-body{border:3px solid #ddd;padding:15px;margin-bottom:25px;}
.theme-option-upload .btn{font-size:14px;}
.theme-option-upload .btn-sm{font-size:12px;}
.theme-option-item .form-group.row{margin-bottom:0;}

.ux-theme-image-select{margin-bottom:15px;}
.ux-theme-image-select .nav > li{position:relative;margin-right:15px;}
.ux-theme-image-select .nav > li + li {margin-left: 0;}
.ux-theme-image-select .nav > li > a{border-radius:0px;display:block;background-repeat:no-repeat;padding:0;}
.ux-theme-image-select .nav > li > a.sidebar_hide { background-image:url(../images/aside_layout_01.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.sidebar_hide_b { background-image:url(../images/aside_layout_02.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.sidebar_hide_c { background-image:url(../images/aside_layout_03.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.sidebar_hide_d { background-image:url(../images/aside_layout_04.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.sidebar_hide_e { background-image:url(../images/aside_layout_05.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.sidebar_show { background-image:url(../images/aside_layout_06.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.right-sidebar{ background-image:url(../images/sidebar_right.png);}
.ux-theme-image-select .nav > li > a.left-sidebar{ background-image:url(../images/sidebar_left.png);}
.ux-theme-image-select .nav > li > a.without-sidebar{background-image:url(../images/sidebar_no.png);}
.ux-theme-image-select .nav > li > a.self-hosted-audio{background-image:url(../images/self_hosted_audio.png);}
.ux-theme-image-select .nav > li > a.soundcloud{background-image:url(../images/soundcloud.png);}
.ux-theme-image-select .nav > li > a.imagebox-thumb{background-image:url(../images/thumb-small.png);}
.ux-theme-image-select .nav > li > a.image-thumb-1{background-image:url(../images/thumb-big.png);}
.ux-theme-image-select .nav > li > a.standard-blog-thumb{background-image:url(../images/thumb-long.png);}
.ux-theme-image-select .nav > li > a.image-thumb-2{background-image:url(../images/thumb-height.png);}
.ux-theme-image-select .nav > li > a.logo-on-bottom{background-image:url(../images/logo-on-bottom.png);}
.ux-theme-image-select .nav > li > a.logo-on-top{background-image:url(../images/logo-on-top.png);}

.ux-theme-image-select .nav > li > .selected{ width:40px;height:40px;background-image:url(../images/selected.png);background-repeat:no-repeat;position:absolute;right:-10px;top:-10px;display:none;}
.ux-theme-image-select .nav > li.active > .selected{display:block;}
.ux-theme-image-select[data-position="left top"] .nav > li > .selected {right:-10px;bottom:-10px;left:auto;top:auto;}
.ux-theme-image-select[data-position="right top"] .nav > li > .selected {right:-10px;bottom:-10px;left:auto;top:auto;}
.ux-theme-image-select[data-position="left bottom"] .nav > li > .selected {right:-10px;bottom:-10px;left:auto;top:auto;}
.ux-theme-image-select[data-position="right bottom"] .nav > li > .selected {right:-10px;bottom:-10px;left:auto;top:auto;}
.ux-theme-image-select[data-position="center center"] .nav > li > .selected {right:auto;bottom:auto;left:50%;top:50%;margin-left:-20px;margin-top:-20px;}

/* list layout builder */
.ux-theme-layout-builder .nav > li{position:relative;margin-right:15px;width:44px;height:30px;}
.ux-theme-layout-builder .nav > li > a{border-radius:0px;display:block;background-position:center center;background-repeat:no-repeat;padding:0;width:44px;height:30px;}
.ux-theme-layout-builder .nav > li > a:hover,
.ux-theme-layout-builder .nav > li.active > a{border:2px solid #3C0;}
.ux-theme-layout-builder .nav > li > a.list_layout_1{background-image:url(../images/list_layout_1.png);}
.ux-theme-layout-builder .nav > li > a.list_layout_2{background-image:url(../images/list_layout_2.png);}
.ux-theme-layout-builder .nav > li > a.list_layout_3{background-image:url(../images/list_layout_3.png);}
.ux-theme-layout-builder .nav > li > a.list_layout_4{background-image:url(../images/list_layout_4.png);}
.ux-theme-layout-builder .nav > li > a.list_layout_5{background-image:url(../images/list_layout_5.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_1{background-image:url(../images/page-list-layout_1.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_2{background-image:url(../images/page-list-layout_2.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_3{background-image:url(../images/page-list-layout_3.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_4{background-image:url(../images/page-list-layout_4.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_5{background-image:url(../images/page-list-layout_5.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_6{background-image:url(../images/page-list-layout_6.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_7{background-image:url(../images/page-list-layout_7.png);}
.ux-theme-layout-builder .nav > li > a.page-list-layout_8{background-image:url(../images/page-list-layout_8.png);}
.ux-theme-layout-builder .layout-builder-content{display:none;}

.theme-option-topspacer.row{margin-top:5px;margin-bottom:0px;}

.ux-theme-checkbox-group{line-height:22px;}
.ux-theme-checkbox-group > li{margin-right:15px;}
.ux-theme-checkbox-group .icheckbox_square-blue{float:left;margin-right:5px;}

.ux-theme-gallery-list .nav{position:relative;}
.ux-theme-gallery-list .nav > li + li{margin-left:0;}
.ux-theme-gallery-list .nav > li{margin-left:0;width:10.75%;position:relative;overflow:hidden;margin-bottom:2%;}
.ux-theme-gallery-list .nav > li > .thumbnail{margin-bottom:0;padding:0px;overflow:hidden;position:absolute;height:100%;width:100%;}
.ux-theme-gallery-list .nav > li > .thumbnail img{position:absolute;z-index:98;}
.ux-theme-gallery-list .nav > li > .thumbnail .border{display:block;border:4px solid #fff;z-index:99;position:absolute;height:100%;width:100%;}
.ux-theme-gallery-list .nav > li.active > .thumbnail{border:1px solid #428bca;}
.ux-theme-gallery-list .pager{text-align:right;margin:5px 0;text-transform:uppercase;}
.ux-theme-gallery-list .pagination{margin:5px 0;float:left;}
.ux-theme-gallery-list .pagination li{margin-right:6px;}
.ux-theme-gallery-list .pager-loading{float:right;margin:5px 0;margin-right:10px;display:none;}
.ux-theme-gallery-list .pager-loading span{width:8px;height:8px;display:block;background-image:url(../images/loading-2.gif);background-repeat:no-repeat;background-position:center center}

.ux-theme-gallery-select{min-height:140px;}
.ux-theme-gallery-select .nav > li + li{margin-left:0;}
.ux-theme-gallery-select .nav > li{margin-left:0;/*width:23.5%;*/width:80px;height:80px;margin-right:6px;position:relative;overflow:hidden;/*margin-bottom:2%;*/}
.ux-theme-gallery-select .nav > li > .thumbnail{margin-bottom:0;padding:0px;overflow:hidden;position:absolute;height:100%;width:100%;}
.ux-theme-gallery-select .nav > li > .thumbnail img {position:absolute;z-index:98; width: 80px;}
.ux-theme-gallery-select .nav > li > .thumbnail .border{display:block;border:4px solid #fff;z-index:99;position:absolute;height:100%;width:100%;}
.ux-theme-gallery-select .nav > li > .btn{position:absolute;right:8px;bottom:8px;z-index:101;}

.ux-theme-color > li > button{width:28px;height:28px;position:relative;}
.ux-theme-color > li > button.btn-cancelcolor{background-image:url(../images/cancelcolor.png);background-position:center center;background-repeat:no-repeat;}
.ux-theme-color > li > button > .glyphicon{position:absolute;right:0px;bottom:0px;top:auto;display:none;}
.ux-theme-color > li.active > button > .glyphicon{display:block;}

.ux-theme-color-scheme{}
.ux-theme-color-scheme.nav-pills > li + li{margin:8px;margin-bottom:8px;}
.ux-theme-color-scheme .scheme-item{
	margin:8px;margin-bottom:8px;width:40px;height:40px;position:relative;overflow:hidden;cursor:pointer;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}
.ux-theme-color-scheme .scheme-item .triangle{width:0;height:0;border-bottom:40px solid transparent;border-left:40px solid transparent;position:absolute;right:0px;bottom:0px;z-index:1px;}
/*.ux-theme-color-scheme .scheme-item .selected{position:absolute;left:0px;right:0px;top:0px;bottom:0px;display:none;z-index:5;width:100%;height:100%}*/
.ux-theme-color-scheme .scheme-item .selected {  z-index: 5; width:0;height:0;position:absolute;right:26px;bottom:26px;border:6px solid transparent;border-left-color:#fff;border-top-color:#fff;}
.ux-theme-color-scheme .scheme-item.active .selected { opacity: 1!important; }
.theme_option_color_scheme .nav-pills > li{ border:none;border-radius:2px;box-shadow:0 0 9px rgba(0,0,0,0.1) inset;}

.theme-option-select-images-content{margin-top:35px;}
.theme-option-select-images-content > .nav > li{width:50px;height:50px;border:2px dotted #999;margin:0 20px 20px 0;position:relative;}
.theme-option-select-images-content > .nav > li > img{max-width:100%;}
.theme-option-select-images-content > .nav > li:hover > img{border-color:#F60;}
.theme-option-select-images-content > .nav > li + li{margin-left:0;}
.theme-option-select-images-content > .nav > li .glyphicon{
	position:absolute;top:-8px;right:-8px;cursor:pointer;font-size:12px;width:18px;height:18px;text-align:center;line-height:18px;
	display:block;border-radius:9px;
	background-color:#ee7164;color:#fff;
}
.ux-theme-box .modal-content { border-radius: 2px; }
#ux-theme-modal .modal-dialog{width:95%;padding-top:40px;height:100%;}
#ux-theme-modal .modal-dialog .modal-content{height:100%;}
#ux-theme-modal .modal-dialog .modal-body{padding:0;position:absolute;bottom:71px;top:57px;width:100%;overflow:auto;overflow-x:hidden;}
#ux-theme-modal .modal-dialog .modal-footer{margin-top:0px;position:absolute;bottom:0px;width:100%;}
#ux-theme-modal .ux-theme-modal-agree{display:none;}
#ux-theme-modal .ux-theme-modal-notice{margin:25px;}

#adminmenu .wp-menu-image img{padding:3px 0px 0px 3px;}

.themeoption-help-wrap{ display:inline-block;width:20px;height:20px;cursor:pointer;}
.themeoption-help-a{ text-decoration:none;}
.themeoption-help{ 
	font-size:10px;display:inline-block;width:16px;height:16px;border-radius:8px;margin-left:5px;text-align:center;line-height:16px;
	color:#b5b5b5;background-color:#f0f0f0;
}
.themeoption-help-hide{  position:absolute;opacity:0;
-webkit-transition:all 0.5s;
   -moz-transition:all 0.5s;
        transition:all 0.5s;
}

/*header layout*/
.ux-theme-image-select .nav > li > a.horizon-menu-right { background-image:url(../images/header_a.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.horizon-menu-left { background-image:url(../images/header_b.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.columned-menu-right { background-image:url(../images/header_c.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.show-menu-icon { background-image:url(../images/header_d.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.menu-icon-popup2 { background-image:url(../images/header_e.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.menu-icon-horizon-menu { background-image:url(../images/header_f.png);background-color:transparent;}
.ux-theme-image-select .nav > li > a.logo-centered { background-image:url(../images/header_g.png);background-color:transparent;}

/*For user gudie tip */
.show-hide-guide-wrap{
	display:inline-block;
}
.show-hide-guide-wrap span{
	display:block;width:16px;height:16px;text-align:center;line-height:15px;color:#ccc;border-radius:8px;cursor:pointer;
	border:1px solid #ccc;
}
.show-hide-guide-wrap span a:hover{
	text-decoration:none;
}
#postimagediv .hide-if-no-js:first-child:after,
.media-new-php .max-upload-size:after{
	content:'the image size is recommended bigger than 800px(width) x 800px(height), especially for portfolio thumbnails';display:block;font-style:italic;
}
.media-new-php .max-upload-size:after{
	margin-top:10px;
}
.btn-sm.restore_defaults{ float:left;
margin-right:10px;}
.btn-support{
	margin-left:10px;
}

/* post options -> Portfolio Template -> property */
.foreground-item.row{margin-bottom:15px;}
.foreground-item.row .col-xs-5{padding-right:0px;}
.foreground-item.row .row{margin-bottom:10px;}
.foreground-template{display:none;}

.property-content{height:auto!important;}

/* theme options -> Generate New Thumbs for This Theme */
#generate_thumbs_progress{margin-top:5px;}

/* demo import */
.theme-option-item .theme_option_import_demo { margin-bottom:0;}
.theme_meta_demo_site .col-md-7 { margin-bottom:20px;}

/*bm slider hide preview*/
body.post-type-bmslider .row-actions .view { display:none;}

.ux-theme-category-multiple{position:relative;}

.ux-theme-category-multiple-option{background-color:#fff;border:1px solid #ccc;padding:3px;width:100%;z-index:1;max-height:300px;overflow-y:scroll;border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.ux-theme-category-multiple-option .nav-pills > li{margin:2px;float:none;clear:both;padding:3px;font-size:12px;}

.ux-theme-category-multiple-select{line-height:20px;-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:'';background-repeat:no-repeat;background-position:100% 50%;background-image:url(../images/select-form.png);height:30px;padding:5px;font-size:12px;border-radius:3px;display:block;background-color:#fff;border:1px solid #ccc;vertical-align:middle;cursor:pointer;padding-left:15px;}

.ux-theme-category-multiple-close{position:absolute;right:0px;color:#fff;right:-25px;width:25px;line-height:25px;text-align:center;height:23px;z-index:2;cursor:pointer;display:none;background-color:#278BC6;}

/* theme options -> Footer Elements Align */
select.ux-theme-footer-element-menu,
textarea.ux-theme-footer-element-text{margin-top:10px;}

/* Shape for Masonry Grid List */
.arnold_theme_gallery_shape{padding-top:15px;padding-bottom:15px;}
.arnold_theme_gallery_shape .gallery_shape{padding-left:8px;padding-right:8px;float:left;}
.arnold_theme_gallery_shape .gallery_shape .gallery_shape_1, 
.arnold_theme_gallery_shape .gallery_shape .gallery_shape_2, 
.arnold_theme_gallery_shape .gallery_shape .gallery_shape_3, 
.arnold_theme_gallery_shape .gallery_shape .gallery_shape_4{background-color:#EBF0F1;width:100%;cursor:pointer;height:10px;}
.arnold_theme_gallery_shape .gallery_shape:hover .gallery_shape_1, 
.arnold_theme_gallery_shape .gallery_shape.active .gallery_shape_1, 
.arnold_theme_gallery_shape .gallery_shape:hover .gallery_shape_2, 
.arnold_theme_gallery_shape .gallery_shape.active .gallery_shape_2, 
.arnold_theme_gallery_shape .gallery_shape:hover .gallery_shape_3, 
.arnold_theme_gallery_shape .gallery_shape.active .gallery_shape_3, 
.arnold_theme_gallery_shape .gallery_shape:hover .gallery_shape_4, 
.arnold_theme_gallery_shape .gallery_shape.active .gallery_shape_4{background-color:#9EA4B2;}

/* buttons */
.buttons-item .row{margin-bottom:0px;}

/* theme option auto select */
.theme_option_auto_select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
    border-radius: 3px;
}
.theme_option_auto_select_focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.theme_option_auto_select input[type=text]{
	border: none;
	background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(../images/select-form.png);
}
.theme_option_auto_select input[type=text]:focus{
	border: none;
	-webkit-box-shadow: none;
			box-shadow: none;
}
.theme_option_auto_select .auto_select_description{	padding: 5px; background-color: #f9f9f9; display: none; }
.theme_option_auto_select .auto_select_result{ display: none; background-color: #f9f9f9; }
.theme_option_auto_select .auto_select_result ul,
.theme_option_auto_select .auto_select_result ul li,
.theme_option_auto_select .alert{ margin: 0; }
.theme_option_auto_select .auto_select_result ul li a{ padding: 5px; color: #333; display: block; }
.theme_option_auto_select .auto_select_result ul li a:hover{ text-decoration: none; background-color: #f4f4f4; }

#wp-portfolio_list_layout_builder_editor-wrap{ display: none; margin-bottom: 20px; }

/* Portfolio Layout Builder for Page */
.ux-theme-page-layout-builder-row.row{margin-bottom: 15px;}
.ux-theme-page-layout-builder-row .col-xs-6{padding-right: 0px;}

/* Edit Portfolio list layout for Page */
#edit-portfolio-list-layout{ border: 2px dashed #eee; line-height: 50px; text-align: center; color: #ddd; background: #fff; font-size: 16px; margin-bottom: 25px; width: 100%; display: none; }
.edit-portfolio-list-layout{ padding: 25px; }
.edit-portfolio-list-layout .grid-stack-item-content{ background-color: #f9f9f9; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; padding: 15px; }
.edit-portfolio-list-layout .grid-stack-item-content .title{ font-size: 14px; }

/* Gallery Builder */
.grid-stack-item-content:after { content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: #333; z-index: 9; opacity: 0; transition: all .3s; }
.grid-stack-item.ui-draggable:hover .grid-stack-item-content:after { opacity: .3; } 